<h2 style="text-align: center">TODO List</h2>

<div class="form-group row">
    
    <label class="col-sm-2 col-form-label">Filter by Name:</label>

    <div class="col-sm-10">
        <input [(ngModel)]="filter" class="form-control">
    </div>

    <button class="btn btn-primary my-4 float-end">
        Create new Register
    </button>

</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Id</th>
            <th>Name</th>
            <th>Stars</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let todo of filteredTodos">
            <td><img [src]="todo.imageUrl" width="40" height="40"></td>
            <td>{{ todo.id }}</td>
            <td>{{ todo.name }}</td>
            <td>
                <app-stars [star]="todo.stars"></app-stars>
            </td>
            <td>
                <button class="btn btn-success">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>